/build/
/config/
/dist/
/*.js
/src/App.vue
/test/unit/coverage/
/src/router/index.js
/src/components/headers.vue
/src/components/conte/dangjian.vue
/src/components/conte/biaozhun.vue
/src/components/conte/dangwu.vue
/src/components/conte/dangyuan.vue
/src/components/conte/fuwu.vue
/src/components/conte/hudong.vue
/src/components/conte/pingxuan.vue
/src/components/conte/tese.vue
/src/components/conte/xiangmu.vue
/src/components/conte/xuexi.vue
/src/components/conte/zuzhi.vue
/src/components/conte/zuzhi_top/top.vue

